html {
  height: 100%;
}

.mainContainer {
  height: 100%;
  /* Needs this margin 0 in the body so that it will not make the  page scrollable when div takes the whole page */
  margin: 0;
  overflow-y: hidden;
  grid-template-columns: 30% 40% 30%;
  display: grid;
}

body {
  background-image: linear-gradient(#ffc555, #ffbe73, #df6900);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ol {
  width: 40%;
}

.left-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.site-name {
  font-family: "EB Garamond", serif;
  color: #7a5200;
  margin: 0;
  font-size: calc(12px + 1.5vw);
  font-style: italic;
  opacity: 0%;
  animation: name-intro 1s ease-in forwards 1s;
}

@keyframes name-intro {
  0% {
    transform: translateX(-25%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.odin-logo {
  width: 24vw;
  min-width: 248px;
  margin: 0;
  animation: logo-intro 1s ease-in forwards;
}

@keyframes logo-intro {
  0% {
    transform: translateY(-50%);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.recipe-link {
  margin-top: 20vh;
  width: 20vw;
  min-width: 100px;
  display: block;
  text-decoration: none;
  transition: 0.5s;
}

.recipe-button {
  width: 100%;
  border-radius: 16px;
  animation: recipe-intro 1s ease-out forwards 2s;
  opacity: 0;
}

.recipe-link:hover {
  transform: scale(1.05);
}

@keyframes recipe-intro {
  0% {
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.recipe-name {
  color: #7a5200;
  font-family: "EB Garamond", serif;
  font-size: calc(12px + 0.5vw);
  text-align: center;
  animation: recipe-name-intro 1s ease-out forwards 2.8s;
  transform: translateX(-15%);
  opacity: 0;
}

@keyframes recipe-name-intro {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
